nav {
  padding: 20px 0;
  background: @black;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    li {
      a {
        color: @gray;
        text-decoration: none;
      }
    }
  }
}