*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}
nav {
  padding: 20px 0;
  background: #333;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
}
.subNav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 0.8rem;
}
.subNav .subNavCard {
  text-align: center;
}
.subNav .subNavCard img {
  width: 55px;
  height: 55px;
}
